#contact {
    display: flex;
    background-color: $primary-color;
    // background-color: black;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    align-items: center;
    // margin-left: $menu-width + 17px;
    overflow-y: auto;

   

    .signature {
        margin: 10px 0;
        // width: 75%;
        height: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        // flex: 1; 
        img {
            // flex: 0 1 75%;
            // height 600px;
            width: 70%;
            min-width: 200px;
        } 
    }

    
    section {
        // margin-top: -80px;
        
        padding: 30px;
        // border: 1px solid #999;
        // border-radius: 2%;
        // box-shadow: 1px 1px 1px black;
        // margin: 0 5px;
        
    }
    section p {
        display: block;
        font-size: 24px;
    }
    

    section h2 {
        padding-left: 10px;
        font-size: 30px;
    }
    
}

@media screen and (min-width: 800px) {
    #contact .signature {
        width: 70%;
    }
}

@media screen and (min-width: 600px) {
    #contact section {
        border: 1px solid #999;
        border-radius: 2%;
        box-shadow: 1px 1px 1px black;
    }
}