.hamburger {
    display:none;  
}

#cross:hover, #bars:hover {
    // color: white;
    font-weight: bold;
    // transition: all 0.1s;
    cursor: pointer;
}

.hide-menu {
    display: none;
   
}

// .hide-menu ul li a{
    
//     cursor: default;
// }

.inactive {
    display:none;
}

@media screen and (max-width: 900px){
    .hamburger {
        color: black;
        font-size: 2.0rem;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        padding-right: 20px;
        // padding-top: 10px;
        z-index: 4;     
    }
    

    .hamburger-menu {
        // height: 100vh;
        border-radius: 1%;
        height: 300px;
        // display: block;
        display: flex;
        
        // display: none;
        justify-content: center;
        align-items: center;
        position:fixed;
        top: 0;
        right: 0;
        width: 250px;
        transform: translate(0px);
        transition: transform 1s;
        background-color: black;
        // background-image: url('../images/OS_speaker_logo.png');
        opacity: 0.7;
        color: white;
        z-index: 3;
        ul > li {
            list-style: none;
            padding-left: 10px;
            a {
                white-space: nowrap; // Stops 'About Me' going over 2 lines
                text-decoration: none;
                color: white;
                font-size: 1.8rem;
                padding-left: 0px;
                /* order of transitions important*/
                // transition: padding-left 0.4s 0s ease-in-out;
                transition: opacity 0.4s 0.2s ease-in-out;
                // transition: padding-left 0.7s 2.9s;
                opacity: 1;
                &:hover {
                    color: $grey;
                    // transform: scale(1.3);
                    // font-weight: bold;
                }
              }
        }

        
        &.hide-menu {
            width: 0px;
            transform: translate(250px);
            
            a {
                opacity: 0;  
                padding-left: 20px;
                
                z-index: -10;
                pointer-events: none;

            }           
        }     
    } 
}

@media screen and (min-width: 901px) {
    .hamburger-menu {
        display: none;
    }
}

// WHEN USER CLICKS ON HAMBURGER, MENU APPEARS FROM RIGHT
