#music {
    
    display: flex;
    background-color: $primary-color;
    // background-color: black;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
    // margin-left: $menu-width + 17px;
    .signature {
        margin: 10px 0;
        // width: 75%;
        height: auto;
        display: flex;
        justify-content: center;
        // flex: 1; 
        img {
            // flex: 0 1 75%;
            // height 600px;
            width: 70%;
            min-width: 200px;
        } 
    }

    section {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        width: 85%;
        
    }
    section p {
        display: block;
        padding: 10px 0;
    }

    section p:first-child {
        padding-top: 50px;
    }
    

    // section h2 {
    //     padding-left: 10px;
    // }
    .soundcloud-container {
        width: 85%;
        
        // height: 100px;
    }
}

@media screen and (min-width: 500px) {
    #music .signature img {
        width: 100%;
    }
}

@media screen and (min-width: 650px) {
    #music section {
        width: 75%;
    }
    #music .soundcloud-container {
        width: 75%;  
        // height: 100px;
    }
}