#music {
    display: flex;
    background-color: $primary-color;
    // background-color: black;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    // margin-left: $menu-width + 17px;
    section p {
        display: block;
    }
    overflow-y: auto;

    section h2 {
        padding-left: 10px;
    }
    .soundcloud-container {
        width: 80%;
        
        // height: 100px;
    }
}

