// COLOURS
$dropdown-color: white;
// $title-color: lighten($drop-down-color, 15%);
$primary-color: $dropdown-color;
$menu-color: white;
$grey: #ddd;
$text-color: #000;

// SIDE-NAV
$div-width: 55%;
$menu-width: 220px;

// VIDEO-AREA
$border-width: 0px;
$grid-border-width: 7px;
$dropdown-height-sm: 24px;
// $dropdown-unit: 1px;
$dropdown-height-lg: 7px;
$videos: 16;


// RESPONSIVENESS
$min-screen-width: 320;
$max-screen-width: 1920;
$scroll-bar-width: 17;


