$drop-down-color: #DAFB55;
$title-color: lighten($drop-down-color, 15%);
$primary-color: $title-color;
$menu-color: #292257;
$menu-width: 220px;
$border-width: 5px;
$grid-border-width: 1px;
$title-height: 40px;
$videos: 24;