
@import 'variables.scss';
@import 'hamburger.scss';
@import 'sidenav.scss';
@import 'videoarea.scss';


// $drop-down-color: #DAFB55;
// $title-color: lighten($drop-down-color, 15%);
// $primary-color: $title-color;
// $menu-color: #292257;
// $menu-width: 220px;
// $border-width: 5px;
// $grid-border-width: 1px;
// $title-height: 40px;

 html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}
  
  

  .main-container {
      display: flex;
      // min-height: 100vh;
      // height: 100%;
      max-width: 100vw;
      align-items: stretch;
  }   
  
  // SIDE NAV HERE
      
  // VIDEO AREA HERE

     
// $videos: 24;
@mixin v-x {
  @for $i from 1 through $videos {
    .v-#{$i} {
      grid-area: v-#{$i};
      & .text:hover {
        // font-weight: bold;
        cursor: pointer;
        background-color: $drop-down-color;
      }
      & .text1:hover {
        // font-weight: bold;
        cursor: default;
        background-color: $drop-down-color;
      }
    }
  }
};
@include v-x;

@media screen and (min-width: 901px) {    
  .grid {
        
        margin-left: $menu-width + 17px; //17px is scroll width
        grid-template-areas: "v-1 v-2"
                    "page-message v-4" 
                    "v-5 v-6"
                    "v-7 v-8"
                    "v-9 v-10"
                    "v-11 v-12"
                    "v-13 v-14"
                    "v-15 v-16"
                    "v-17 v-18"
                    "v-19 v-20"
                    "v-21 v-22"
                    "v-23 v-24";
                    
        grid-template-columns: 50% 50%;
        // grid-auto-rows: auto;
        grid-template-rows: calc((0.5625*(100vw -$menu-width -34 -2) /2));
        grid-gap: $grid-border-width;
  }
  .main-container .side-bar {
    display: grid; 
  }
}


@media screen and (min-width: 1201px)  {    
  

  .grid {
    grid-template-areas: "v-1 v-2 v-3"
                    "page-message v-4 v-5"
                    "v-6 v-7 v-8"
                    "v-9 v-10 v-11"
                    "v-12 v-13 v-14"
                    "v-15 v-16 v-17"
                    "v-18 v-19 v-20"
                    "v-21 v-22 v-23"
                    "v-24 . .";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        // grid-gap: $grid-border-width;
  }
  
}





