
@import 'variables.scss';
@import 'hamburger.scss';
@import 'sidenav.scss';
@import 'videoarea.scss';
@import 'about.scss';
@import 'music.scss';
@import 'contact.scss';


// $drop-down-color: #DAFB55;
// $title-color: lighten($drop-down-color, 15%);
// $primary-color: $title-color;
// $menu-color: #292257;
// $menu-width: 220px;
// $border-width: 5px;
// $grid-border-width: 1px;
// $title-height: 40px;

 html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}

.contact .info p {
  display: block;
}
  
a {
  text-decoration: none;
}
a:link {
  color: #42b0f4;
}
 
a:visited {
  color: #d62a4d;
}

a:hover {
  color: #840721;
}

a:active {
  color: black;
} 

  
  
  // SIDE NAV HERE
      
  // VIDEO AREA HERE

     
// $videos: 24;
@mixin v-x {
  @for $i from 1 through $videos {
    .v-#{$i} {
      grid-area: v-#{$i};
      }
  }
};

@include v-x;
.item {
  .text:hover {
    // font-weight: bold;
    cursor: pointer;
    // background-color: $grey;
    transition: background-color 0.6s;
}
  .text1:hover {
    // font-weight: bold;
    cursor: default;
    
    // background-color: $grey;
    transition: background-color 0.6s;
  }
  .text1 i, h4 {
    cursor: pointer;
  }
}

// MOBILE + TABLET
// min-height= min-width x 0.5625 + dropdown-height
@media screen and (min-width: 360px){
  .item1 {
    min-height: 202.5px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 375px){
  .item1 {
    min-height: 210.94px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 414px){
  .item1 {
    min-height: 233.44px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 425px){
  .item1 {
    min-height: 239.06px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 480px){
  .item1 {
    min-height: 270px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 600px){
  .item1 {
    min-height: 337.5px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 768px){
  .item1 {
    min-height: 432px + $dropdown-height-sm;
  }
}

@media screen and (min-width: 800px){
  .item1 {
    min-height: 450px + $dropdown-height-sm;
  }
}

// 2 columns video grid
@media screen and (min-width: 901px) { 
  .item {
    grid-template-rows:$dropdown-height-lg auto;

    .text .icon {
        top: -9px;
    }
  }

  .item1 {
    min-height: 184.78px + $dropdown-height-lg;
    // min-height: 250.73px;
  }
  .grid, #about, #music, #contact {
        
        margin-left: $menu-width + 7px; //17px is scroll width
  }
  #page-message {
    
      
    img {
      width: 90%;
      // margin-top:-50px;
  }

  h3 {
    font-size: 18px;
    margin-top: 7px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }
}
  .grid {
        grid-template-areas: "v-1 v-2"
                    "page-message v-3" 
                    "v-4 v-5"
                    "v-6 v-7"
                    "v-8 v-9"
                    "v-10 v-13"
                    "v-14 v-15"
                    "v-16 v-17"
                    "v-18 v-19"
                    "v-20 v-21"
                    "v-22 v-23"
                    "v-24 v-25";
                    
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        // grid-template-rows: calc((0.5625*(100vw -$menu-width -34 -2) /2));
        // grid-gap: $grid-border-width;
        grid-gap: 0px $grid-border-width;
  }
  .main-container .side-bar {
    display: grid; 
  }

  .item .text {
    // grid-template-rows: 50px auto;
  }
}


@media screen and (min-width: 1024px) {
  .item1 {
    min-height: 219.38px + $dropdown-height-lg;
  }
}

@media screen and (min-width: 1201px)  {    
  #page-message {

    h3 {
      font-size: 16px;
      margin-top: 5px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    p {
      font-size: 13px;
    }
  }
  
  
  
  .item1 {
    min-height: 176.8px + $dropdown-height-lg;
  }

  .grid {
    grid-template-areas: "v-1 v-2 v-3"
                    "page-message v-4 v-5"
                    "v-6 v-7 v-8"
                    "v-9 v-10 v-11"
                    "v-12 v-13 v-14"
                    "v-15 v-16 v-17"
                    "v-18 v-19 v-20"
                    "v-21 v-22 v-23"
                    "v-24 . .";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        // grid-gap: $grid-border-width;
  }
  
}

@media screen and (min-width: 1280px) {
  .item1 {
    min-height: 191.61px + $dropdown-height-lg;
  }
}

@media screen and (min-width: 1366px) {
  .item1 {
    min-height: 207.73px + $dropdown-height-lg;
  }
}


// min-height: calc((screenWidth - menuWidth - (3 * gridWidth) - scrollWidth)*0.5625 / 3) + dropDownWidth)px
@media screen and (min-width: 1440px) {
  .item1 {
    min-height: 221.63px + $dropdown-height-lg;
  }
}

@media screen and (min-width: 1600px) {
  .item1 {
    min-height: 251.63px + $dropdown-height-lg;
  }
}

@media screen and (min-width: 1920px) {
  .item1 {
    min-height: 311.63px + $dropdown-height-lg;
  }
}

 


// @mixin keepSize {
//   @for $i from $min-screen-width through $max-screen-width {
//     @media screen and (min-width: #{$i}px){
//       .item1 {
//         min-height: calc(((#{$i} - 220 - (3 * 7) - 17)*0.5625 / 3) + 7)px;
//       }
//     }
//   }
// }

// @include keepSize
