
@import 'variables.scss';
@import 'hamburger.scss';
@import 'sidenav.scss';
@import 'videoarea.scss';
@import 'about.scss';
@import 'music.scss';
@import 'contact.scss';


// $drop-down-color: #DAFB55;
// $title-color: lighten($drop-down-color, 15%);
// $primary-color: $title-color;
// $menu-color: #292257;
// $menu-width: 220px;
// $border-width: 5px;
// $grid-border-width: 1px;
// $title-height: 40px;

 html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100%;
    
    // font-family: 'Montserrat', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
}

.contact .info p {
  display: block;
}
  
a {
  text-decoration: none;
}
a:link {
  color: #42b0f4;
}
 
a:visited {
  color: #d62a4d;
}

a:hover {
  color: #840721;
}

a:active {
  color: black;
} 

  
  
  // SIDE NAV HERE
      
  // VIDEO AREA HERE

     
// $videos: 24;
@mixin v-x {
  @for $i from 1 through $videos {
    .v-#{$i} {
      grid-area: v-#{$i};
      & .text:hover {
        // font-weight: bold;
        cursor: pointer;
        background-color: $grey;
        transition: background-color 0.4s;
      }
      & .text1:hover {
        // font-weight: bold;
        cursor: default;
        background-color: $grey;
        transition: background-color 0.4s;
        
        &.text1 i, h4 {
          cursor: pointer;
        }
      }
    }
  }
};
@include v-x;

@media screen and (min-width: 901px) { 
  .item {
    grid-template-rows:$dropdown-height-lg auto;

    .text .icon {
        top: -9px;
    }
  }

  .item1 {
    min-height: 155.73px;
    // min-height: 250.73px;
  }
  .grid, #about, #music, #contact {
        
        margin-left: $menu-width + 7px; //17px is scroll width
  }
  #page-message {
    
    img {
      width: 90%;
  }

  h3 {
    font-size: 18px;
    margin-top: 7px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }
}
  .grid {
        grid-template-areas: "v-1 v-2"
                    "page-message v-3" 
                    "v-4 v-5"
                    "v-6 v-7"
                    "v-8 v-9"
                    "v-10 v-13"
                    "v-14 v-15"
                    "v-16 v-17"
                    "v-18 v-19"
                    "v-20 v-21"
                    "v-22 v-23"
                    "v-24 v-25";
                    
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
        // grid-template-rows: calc((0.5625*(100vw -$menu-width -34 -2) /2));
        // grid-gap: $grid-border-width;
        grid-gap: 0px 7px;
  }
  .main-container .side-bar {
    display: grid; 
  }

  .item .text {
    // grid-template-rows: 50px auto;
  }
}


@media screen and (min-width: 1201px)  {    
  #page-message {
    h3 {
      font-size: 16px;
      margin-top: 5px;
    }
  
    h4 {
      font-size: 14px;
    }
  
    p {
      font-size: 13px;
    }
  }
  
  
  
  .item1 {
    // max-height: 257.19px;
    // min-height: 155.73px;
  }

  .grid {
    grid-template-areas: "v-1 v-2 v-3"
                    "page-message v-4 v-5"
                    "v-6 v-7 v-8"
                    "v-9 v-10 v-11"
                    "v-12 v-13 v-14"
                    "v-15 v-16 v-17"
                    "v-18 v-19 v-20"
                    "v-21 v-22 v-23"
                    "v-24 . .";
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        // grid-gap: $grid-border-width;
  }
  
}





